---
import { type Playlist } from "@/lib/data";
import CardPlayButton from "@/components/react/CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;

const { id, artists, title, cover } = playlist;

const artistString = artists.join(", ");
---

<article
  class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md ransi transition-all duration-300"
>
  <div
    class="absolute right-4 bottom-20 translate-y-4 transition-all duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10"
  >
    <CardPlayButton client:load id={id} size="large" />
  </div>

  <a
    class="playlist-item transition-all duration-300 flex relative p-2 overflow-hidden gap-2 pb-6 rounded-md w-44 flex-col"
    href={`/playlist/${id}`}
    transition:name={`playlist ${id} box`}
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <img
        src={cover}
        alt={`Cover of ${title} by ${artistString}`}
        class="object-cover w-full h-full rounded-md"
        transition:name={`playlist ${id} image`}
      />
    </picture>
    <div class="flex flex-auto flex-col truncate space-y-1">
      <h4 transition:name={`playlist ${id} title`} class="text-sm">{title}</h4>
      <span
        transition:name={`playlist ${id} artists`}
        class="text-xs text-gray-400">{artistString}</span
      >
    </div>
  </a>
</article>
