---
import { type Playlist } from "@/lib/data";

interface Props {
  playlist: Playlist
}

const { playlist } = Astro.props

const { id, artists, color, title, cover }  = playlist

const artistString = artists.join(", ")
---

<a 
  class="playlist-item transition-all duration-300 shadow-lg hover:shadow-xl flex flex-col relative p-2 
         overflow-hidden gap-2 pb-6 rounded-md bg-zinc-500/30 hover:bg-zinc-800 w-44"
  href={`/playlist/${id}`}
  transition:name={`playlist ${id} box`}
  >
  <picture class="aspect-square w-full h-auto flex-none">
    <img 
      src={cover} 
      alt={`Cover of ${title} by ${artistString}`} 
      class="object-cover w-full h-full rounded-md"
      transition:name={`playlist ${id} image`}
      />
  </picture>
  <div class="flex flex-auto flex-col truncate space-y-1">
    <h4 class="text-sm">{title}</h4>
    <span class="text-xs text-gray-400">{artistString}</span>
  </div>
</a>
